.textFontBlue {
  text-align: left;
  font: var(--px20_24_Bold-font) !important;
  color: var( --blue-color) !important;
  margin-bottom: 3vh!important;
  margin-top: 3vh!important;
}

.textFontGlay {
  text-align: left;
  font: var( --px15_20-font) !important;
  color:var(--glay-color) !important;
  margin-bottom: 3vh!important;
}